<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="brand-heading">Showboarder</h1>
                    <p class="intro-text">List, promote, and sell <i>fee free</i> tickets to shows at your venue.</p>
                      <div class="col-sm-6">
                        <a href="https://twitter.com/showboarder" target="_blank" class="btn btn-default btn-lg btn-front">Create A Showboard Now</a>
                      </div>

                      <div class="col-sm-6">
                        <a href="https://twitter.com/showboarder" target="_blank" class="btn btn-default btn-lg btn-front">Learn More</a>
                      </div>

                    <!-- <div class="page-scroll">
                        <a href="#about" class="btn btn-circle">
                            <i class="fa fa-angle-double-down animated">Learn More</i>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="container content-section text-center">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h2>About Showboarder</h2>
    <p>Currently in development, Showboarder will be the easiest way to list, promote, and sell tickets to shows at your venue.</p>
    <p>Simply post a show to your venue's Showboard and all the hard work is taken care of. The show is automatically added to your venue's showboard, published to your social media (if you want) and elsewhere online, and tickets are automatically made available for purchase.</p>
    <p>Handling fees?  <i>What are handling fees?</i>
    <br>
    Give your audience <i>fee free</i> tickets, with 100% of the revenue going straight to the performers and the venue.  Instead of tacking on fees, Showboarder operates on a flat rate model for venues where $25/month gets your venue every online tool it needs.</p>
    <p>Use Showboarder how you want.  Use it strictly for ticket sales OR embed it in your site OR replace your whole venue website with a beautifully designed Showboard.  It's up to you.</p>
  </div>
</div>
</section>

<section id="follow" class="container content-section text-center">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h2>Follow Showboarder</h2>
    <p>Showboarder is currently in development, so follow us on social media to get the latest updates leading to our release</p>
    <ul class="list-inline banner-social-buttons">
      <li><a href="https://twitter.com/showboarder" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
      </li>
<!--           <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
      </li>
      <li><a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a> -->
      <!-- </li> -->
    </ul>
    <br>
    <br>
    <br>
    <p>Contact us at <a href="mailto:showboardersite@gmail.com" target="_blank">showboardersite@gmail.com</a> or enter your venue's contact email at the top of the page to join Showboarder's beta and become one of our founding venues</p>
  </div>
</div>
</section>
<br>
<br>
<br>
<br>
<br>
