<!doctype html>
<html>
  <body>
    <p>
      This email confirms that your purchase has been refunded.
      <%= formatted_price(@sale.amount) %> has been returned to your <%= @sale.card_type %> ending in <%= @sale.card_last4 %>.
    </p>
    <p>--Showboarder</p>
  </body>
</html>
