# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.rvmrc
.ruby-*
.secret
# Ignore application configuration
/config/application.yml
/config/secrets.yml
showboarder.com.csr
showboarder.com.key
/www_showboarder_com
www_showboarder_com.crt
/notes.txt

# capistrano
/config/deploy.rb
/lib/capistrano/*
/config/deploy/*
/Capfile

# custom
/config/database.yml
/config/unicorn.rb
/config/unicorn_init.sh
/.rufus-scheduler.lock