<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your application!</h1>
    <p>
      You have successfully applied to be part of Showboarder's beta.
    </p>
    <p>
      We will contact you soon to share more details about the beta.  In the meantime, follow us on twitter at <%= @twitter %> for more updates.
    </p>
  </body>
</html>