<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your ticket purchase!</h1>
    <p>You purchased <%= @tickets.count %> to <%= link_to "#{@show.board.name} on #{@show.show_at.to_time.strftime('%b %e')}", @show %></p>
    <p>Your sale ID is <%= @sale.guid %></p>
  </body>
</html>