<!doctype html>
<html>
  <body>
    <p>
      This email confirms that your purchase has been refunded.
      <%= int_formatted_price(@sale.amount) %> has been returned to you.
    </p>
    <p>--Showboarder</p>
  </body>
</html>
