<div class="row">
  <label class="control-label" for="number">Card Number</label>
  <input type="text" size="20" data-stripe="number" id="number" placeholder="1234 5678 9012 3456" pattern="[\d ]*" class="payment-input"/>
</div>
<div class="row">
  <div style="float: left">
    <label class="control-label" for="cvc">CVC</label>
    <input type="text" style="width: 3em" size="3" data-stripe="cvc" id="cvc" placeholder="123" pattern="\d*"/>
    <img id="card-image" src="<%= asset_path('credit.png') %>" style="height: 30px; padding-left: 10px; margin-top: -10px">
  </div>
  <div style="float: right; margin-right: 8px">
    <label class="control-label">Exp (MM/YYYY)</label>
    <input style="width: 2em" type="text" size="2" id="exp-month" data-stripe="exp-month" placeholder="MM" pattern="\d*"/>
    <span> / </span>
    <input style="width: 3em" type="text" size="4" id="exp-year" data-stripe="exp-year" placeholder="YYYY" pattern="\d*"/>
  </div>
</div>