testing123

<%= form_tag board_show_tickets_path(@board, @show, :charge_type => "sb3") do %>
  <article>
    <label class="amount">
      <span>Purchase <%= @quantity %> tickets for <%= amount %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount=@amount></script>
<% end %>

