<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Charge Disputed!</h1>
    <p>
      <%= @charge.id %> from sale <%= @sale.guid %> has been disputed!
    </p>
  </body>
</html>