<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Board!</h1>
    <p>
      <%= @board.ame %> has been created.
    </p>
  </body>
</html>