<%= form_tag board_show_charge_path(@board, @show, :charge_type => "sb2") do %>
  <article>
    <label class="amount">
      <span>Enable fee-free ticketing on this single show for a one-time flat-rate charge of $10</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount=@amount></script>
<% end %>