<div id="react-test">
</div>


<script type="text/jsx">
  /** @jsx React.DOM */

  var AttendeeWrapper = React.createClass({
    render: function() {
      return <li>{this.props.data.name}</li>;
    }
  });

  var CheckedInWrapper = React.createClass({
    render: function() {
      return <li>{this.props.data.name}</li>;
    }
  });

  var CheckinList = React.createClass({
    getInitialState: function() {
      return {
        attendees: [],
        checkedIn: []
      };
    },

  componentDidMount: function() {
    $.get(this.props.source, function(result) {
      console.log(result)
      var attendees = result[0];
      var checkedIn = result[1];
      if (this.isMounted()) {
        this.setState({
          attendees: attendees,
          checkedIn: checkedIn
        });
      }
    }.bind(this));
  },

  render: function() {

    var showAttendee = function(attendee) {
      return (
        <div>
          <li key={attendee[1][0].guid}>{attendee[0]} has {attendee[1].length} tickets</li>
          <button key={attendee[1][0].guid+"button"}>Check in</button>
        </div>
      );
    }

    var showCheckedIn = function(attendee) {
      return (
        <div>
          <li key={attendee[1][0].guid+"ci"}>{attendee[0]} has {attendee[1].length} tickets</li>
          <button key={attendee[1][0].guid+"cobutton"}>Check back out</button>
        </div>
      );
    }

    return (
      <div>
        <h2>Attendees</h2>
        <ul>{this.state.attendees.map(showAttendee)}</ul>
        <h2>Checked In</h2>
        <ul>{this.state.checkedIn.map(showCheckedIn)}</ul>
      </div>
      );
    }
  });

  React.renderComponent(
    <CheckinList source="/<%= @show.board.vanity_url %>/shows/<%= @show.id %>/attendees" />,
    document.getElementById('react-test')
  );
</script>