<div class="container no-section">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= react_component('CheckInList', {name: 'react-test', 
                    source: "/#{@show.board.vanity_url}/shows/#{@show.id}/attendees", checkInRoute: "/#{@show.board.vanity_url}/shows/#{@show.id}/checkinattendee", checkOutRoute: "/#{@show.board.vanity_url}/shows/#{@show.id}/checkoutattendee"}, {prerender: true}) %>
    </div>
  </div>
</div>


