<h1>Show#show</h1>
<%= link_to "Back to Showboard", @show.board %>
<br>
<% if user_signed_in? %>
<% if current_user.boarder?(@show.board) %>
<%= render 'enable_ticketing_button' %>
<% end %>

<% end %>
<br>

<%= render 'reserve_tickets_button' %>

<p>Find me in app/views/show/show.html.erb</p>
$<%= @show.price_adv.to_s %>