</div>
<div class="row">
  <label class="control-label" for="number">Card Number</label>
  <input <% if !user_signed_in? %> autofocus="true" <% end %> type="text" size="20" data-stripe="number" id="number" placeholder="1234 5678 9012 3456" pattern="[\d ]*" class="payment-input" maxlength="20"/>
</div>
<div class="row">
  <label class="control-label" for="cvc">CVC</label>
  <input type="text" class="payment-cvc" size="3" data-stripe="cvc" id="cvc" placeholder="123" pattern="\d*"/>
  <%= image_tag(asset_path('credit.png'), height: '30', id:"card-image") %>
  <label class="control-label">Exp (MM/YYYY)</label>
  <input class="payment-exp-month"type="text" size="2" id="exp-month" data-stripe="exp-month" placeholder="MM" pattern="\d*" maxlength=2 />
  <span> / </span>
  <input class="payment-exp-year" type="text" size="4" id="exp-year" data-stripe="exp-year" placeholder="YYYY" pattern="\d*" maxlength=4/>
</div>

<% if @sale.actionee_type == "Board" %>
  <input type="hidden" name="stripe_remember_card" value=true/>
<% elsif user_signed_in? %>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="" checked>
      Remember this card?
    </label>

    <a data-toggle="tooltip" class="tooltipLink" data-original-title="Tooltip text goes here">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  </div>
<% end %>