<section>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1><%= @act.name %></h1>
      <br>
      <h2>Links</h2>
      <p>
        <p class="ext-links-fontawesomed">
          <% if @act.ext_links.count > 0 %>
            <%= @act.ext_links_fontawesomed %>
          <% end %>
        </p>
      </p>
      <br>
      <h2>Shows</h2>
      <% @act.shows.each do |s| %>
        <div class="row">
          <div class="band-show">
            <%= link_to s.board.name, s.board %> on <%= link_to s.show_at.to_time.strftime('%b %e'), board_show_path(s.board, s), :class => "band-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>